html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--contacts-color);
}

:root {
  --brand-color: #2196F3;
  --text-color-N1: #212121;
  --contacts-color: #757575;
  --hero-color:#2F303A;
  --text-color-N2: #FFFFFF;
  --btn-portfolio: #F5F4FA;
  --cubik: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 1200px;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section-padding {
  padding-top: 94px;
  padding-bottom: 94px;
}

.flex {
  display: flex;
  align-items: center;
}

.hide {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.header-border {
  border-bottom: 1px solid #ECECEC;
}

.header__logo {
  margin-right: 93px;
}
.header__navigation {
  margin-right: auto;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--text-color-N1);
  transition: color 250ms var(--cubik);
}
.logo__span {
  color: var(--brand-color);
}

.logo:focus,
.logo:hover {
  color: var(--brand-color);
}

.menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.menu__item:not(:last-child) {
  margin-right: 50px;
}
.menu__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-N1);
  text-decoration: none;
  padding: 32px 0px;
  display: block;
  transition: color 250ms var(--cubik);
  position: relative;
}
.menu__link:focus, .menu__link:hover {
  color: var(--brand-color);
}
.menu__link:active {
  color: var(--brand-color);
}

.active {
  color: var(--brand-color);
}

.current::after {
  content: "";
  height: 4px;
  background-color: var(--brand-color);
  border-radius: 2px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin: 0 auto;
  width: 100%;
}

.header__contacts {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.contacts__items:not(:last-child) {
  margin-right: 50px;
}
.contacts__link {
  text-decoration: none;
  color: var(--contacts-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0px;
  display: flex;
  align-items: center;
  transition: color 250ms var(--cubik);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--brand-color);
}
.contacts__link:active {
  color: var(--brand-color);
}
.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heto-background.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: 0 auto;
}
.hero__titel {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--text-color-N2);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.hero__btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-color-N2);
  background-color: var(--brand-color);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  padding: 10px 32px;
}

.approach__uptitel {
  display: none;
}
.approach__list {
  display: flex;
  gap: 30px;
}

.skill__items {
  list-style-type: none;
  width: 270px;
}
.skill__box {
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.skill__titel {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-N1);
  margin-bottom: 10px;
}
.skill__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
}

.employment {
  padding-top: 0px;
}
.employment__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color-N1);
  margin-bottom: 50px;
}
.employment__list {
  display: flex;
  list-style-type: none;
  gap: 30px;
}

.applications__upblock {
  position: relative;
}
.applications__uptext {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.applications__img {
  display: block;
}

.team {
  background-color: var(--btn-portfolio);
}
.team__uptitle {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color-N1);
  margin-bottom: 50px;
}
.team__list {
  list-style-type: none;
  display: flex;
  gap: 30px;
}
.team__soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.person__items {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}
.person__img {
  margin-bottom: 30px;
  display: block;
}
.person__title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-N1);
  margin-bottom: 10px;
}
.person__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
  margin-bottom: 16px;
}

.soc__item {
  width: 44px;
  height: 44px;
}
.soc__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--cubik), color 250ms var(--cubik);
  color: #AFB1B8;
  background-color: var(--text-color-N2);
}
.soc__link:hover, .soc__link:focus {
  color: var(--text-color-N2);
  background-color: var(--brand-color);
}
.soc__icon {
  fill: currentColor;
}

.client__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-N1);
  margin-bottom: 50px;
}
.client__list {
  display: flex;
  gap: 30px;
}

.friends__items {
  width: 170px;
  height: 92px;
}
.friends__link {
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  color: #AFB1B8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms var(--cubik);
}
.friends__link:hover, .friends__link:focus {
  border-color: var(--brand-color);
  color: var(--brand-color);
}
.friends__icon {
  fill: currentColor;
}

.footer {
  background-color: var(--hero-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: flex;
  align-items: baseline;
  gap: 70px;
}

.footer-flex {
  display: flex;
}

.contact__link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--text-color-N2);
  margin-bottom: 20px;
  display: block;
}
.contact__logo {
  color: var(--brand-color);
}
.contact__items {
  list-style-type: none;
}
.contact__items:not(:last-child) {
  margin-bottom: 9px;
}
.contact__map {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-decoration: none;
  transition: color 250ms var(--cubik);
}
.contact__map:hover, .contact__map:focus {
  color: var(--brand-color);
}
.contact__map:active {
  color: var(--brand-color);
}
.contact__mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms var(--cubik);
}
.contact__mail:hover, .contact__mail:focus {
  color: var(--brand-color);
}
.contact__mail:active {
  color: var(--brand-color);
}
.contact__phone {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms var(--cubik);
}
.contact__phone:hover, .contact__phone:focus {
  color: var(--brand-color);
}
.contact__phone:active {
  color: var(--brand-color);
}

.social__text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  display: block;
  margin-bottom: 20px;
}
.social__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social__item {
  width: 44px;
  height: 44px;
}
.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color-N2);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--cubik), color 250ms var(--cubik);
}
.social__link:hover, .social__link:focus {
  color: var(--text-color-N2);
  background-color: var(--brand-color);
}
.social__icon {
  fill: currentColor;
}

.podpishish__text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 0.875;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-N2);
  margin-bottom: 20px;
}
.podpishish__form {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.podpishish__form {
  display: flex;
}
.podpishish__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;
}
.podpishish__button {
  font-family: inherit;
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.55;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
.podpishish__icon {
  fill: #fff;
}

.portfolio__uptitle {
  display: none;
}
.portfolio__list-btn {
  list-style-type: none;
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio__about {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.buttons__btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-N1);
  cursor: pointer;
  background: var(--btn-portfolio);
  border-radius: 4px;
  border: 0;
  min-width: 125px;
  height: 38px;
  transition: background-color 250ms var(--cubik), color 250ms var(--cubik);
}
.buttons__btn:focus, .buttons__btn:hover {
  color: #FFFFFF;
  background-color: var(--brand-color);
}
.buttons__btn:active {
  color: var(--brand-color);
}

.propos__items {
  width: 370px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
}
.propos__link {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms var(--cubik);
}
.propos__link:hover, .propos__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.propos__wrap {
  position: relative;
  overflow: hidden;
}
.propos__img {
  display: block;
}
.propos__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--text-color-N2);
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms var(--cubik);
}
.propos__text-padding {
  padding: 20px 24px;
}

.propos__items:hover .propos__text {
  transform: translateY(0);
}

.propos__link:focus .propos__text {
  transform: translateY(0);
}

.block__uptitle {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color-N1);
  margin-bottom: 4px;
}
.block__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 250ms var(--cubik), visibility 250ms var(--cubik);
}
.backdrop__modal {
  width: 528px;
  min-height: 581px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  transition: transform 250ms var(--cubik);
  padding: 40px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(2) rotate(360deg);
}

.modal-button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: color 250ms var(--cubik);
}

.modal-button:hover .modal-icon,
.modal-button:focus .modal-icon {
  color: var(--brand-color);
}

.modal-button {
  fill: currentColor;
}

.modal-titel {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-N1);
  margin-bottom: 30px;
}

.modal-field {
  margin-bottom: 10px;
}

.modal-field:last-child {
  margin-bottom: 0px;
}

.modal-form-label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  display: block;
  color: var(--contacts-color);
  margin-bottom: 4px;
}

.modal-form-wrapper {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding-left: 42px;
  transition: border 250ms var(--cubik), border 250ms var(--cubik);
}

.modal-input:hover .modal-form-icon,
.modal-input:focus .modal-form-icon {
  color: var(--brand-color);
}

.modal-input:focus,
.modal-input:hover {
  border-color: var(--brand-color);
}

.modal-input:focus + .modal-form-icon,
.modal-input:hover + .modal-form-icon {
  fill: var(--brand-color);
}

.modal-input::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: var(--contacts-color);
}

.modal-input:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: var(--contacts-color);
}

.modal-input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: var(--contacts-color);
}

.modal-form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-field-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  background-color: transparent;
  outline: transparent;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 10px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.position {
  position: relative;
}

.modal-check {
  position: absolute;
  top: 15px;
  left: 27px;
  transition: color 250ms var(--cubik);
}

.check-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--text-color-N1);
  margin-right: 8px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
}

.modal-check:checked + .check-text span {
  background-color: var(--brand-color);
  border: none;
  fill: #FFFFFF;
}

.modal-check-polyti {
  font-family: inherit;
  color: var(--brand-color);
  margin-left: 5px;
}

.modal-form-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  width: 200px;
  height: 50px;
  color: var(--text-color-N2);
  background-color: var(--brand-color);
  border: 0;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
  padding: 10px 32px;
}/*# sourceMappingURL=main.css.map */