.header {
    background-color: var(--text-color-N2);
    border-bottom: 1px solid #ECECEC;
}

.header__container {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
        justify-content: space-between;
    }
}


.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
	text-decoration: none;
}

.header__logo {
    @media screen and (max-width: 767px) {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-right: 88px;
    }
    
    @media screen and (min-width: 1200px) {
        margin-right: 92px;
    }
}

.logo-studio {
    color: #000000;
}

.footer__logo {
    margin-bottom: 28px;     
    
    @media screen and (min-width: 1200px) {
        margin-bottom: 20px;           
    }    
}

.logo-studio--light {
    color: #FFFFFF;
}



.menu-open {
    display: block; 
    background-color: transparent;

    &:hover,
    &:focus {
        fill: var(--brand-color);
    }

    @media screen and (min-width: 767px) {
        display: none;
    }
}

.js-menu-container {
    position: fixed;
    top: 0;
	left: 0;
    width: 100%;
    height: 100%;
    padding: 48px 40px;  
    background-color: #ffffff;
    z-index: 1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    transform: translateX(-100%);
	display: flex;
	flex-direction: column;
	justify-content: space-between;

    > .wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: auto;
    }

    @media screen and (min-width: 767px) {
        display: none;
    }
}

.js-menu-container.is-open{
	transform: translateX(0);
}

.menu-close-btn {
    position: absolute;
    top: 10px;
    right: 15px;

    background-color: transparent;
    display: block;
    margin-left: auto;

    &:hover,
    &:focus {
        fill: var(--brand-color);
    }
}

.menu-list {
    @media screen and (max-width: 450px) {
        margin-bottom: 306px;
    }
    
}

.menu-list__item:not(:last-child) {
    margin-bottom: 32px;
}

.menu-list__link {
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47 / 40);
    letter-spacing: 0.02em;    
    color: var(--text-color-N1);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--brand-color);
    }
}

.mob-contacts {
    margin-bottom: 64px;
}

.mob-contacts__item:not(:last-child) {
    margin-bottom: 32px;
}

.mob-contacts__link {
    font-weight: 500;    
    letter-spacing: 0.02em;
}

.mob-contacts__link.mob-contacts__link--tel {    
    font-size: 34px;
    line-height: calc(40 / 34);      
    color: #2196F3;
}

.mob-contacts__link.mob-contacts__link--mail {    
    font-size: 24px;
    line-height: calc(28 / 24);    
    color: #757575;
}

.mob-soc-list {
    display: flex;
    gap: 10px;
    
    @media screen and (min-width: 320px) and (max-width: 435px) {
        flex-wrap: wrap;
    }
}

.mob-soc-item:not(:last-child) {    
    padding-right: 10px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgba(33, 33, 33, 0.2);

}

.mob-soc-link {
    font-weight: 500;
        font-size: 18px;
        line-height: calc(22 / 18);
        letter-spacing: 0.02em;
        color: #2196F3;    
}






.menu {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        gap: 50px;    
    }
}

.menu__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    cursor: pointer;
    color: var(--text-color-N1);

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--brand-color);
    }
}

.menu .menu__link.activ {
    color: var(--brand-color);

    &::after {
        content: '';

        display: block;
        width: 100%;
        height: 4px;

        position: absolute;
        bottom: 0;

        background: #2196F3;
        border-radius: 2px;
    }
}

.contacts {
    display: none;  

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }
}

.header__contacts {   
    margin-left: auto;    
}

.contacts__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 /12);
    letter-spacing: 0.02em;
	color: var(--contacts-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--brand-color);
    }    

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: calc(16 / 14);

        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.contacts__mail-icon,
.contacts__smartphone-icon {
    fill: currentColor;
}