.header-border{
	border-bottom: 1px solid #ECECEC;
}


.header{
	&__logo{
		margin-right: 93px;
	}
	&__navigation{
		margin-right: auto;
	}
}

.logo{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	text-decoration: none;
	color: var(--text-color-N1);
	transition: color 250ms var(--cubik);
	&__span{
		color: var(--brand-color);
	}

}



.logo:focus,
.logo:hover{
	color: var(--brand-color);
}





.menu{	
	display: none;
	@media screen and (min-width: 768px) {
        display: flex;
        gap: 50px;    
    }
	&__item:not(:last-child){
		margin-right: 50px; 
   }
   &__link{
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--text-color-N1);
	text-decoration: none;
	padding: 32px 0px;
	display: block;
	transition: color 250ms var(--cubik);
	position: relative;
}
	&__link:focus,
	&__link:hover{
		color: var(--brand-color);
	}
	&__link:active{
		color: var(--brand-color);
	}
}


.active{
	color: var(--brand-color)
}

.current::after{
	content: "";
	height: 4px;
	background-color: var(--brand-color);
	border-radius: 2px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	margin: 0 auto;
	width: 100%;
}




.header__contacts{
	list-style-type: none;
	display: flex;
	align-items: center;

}


.contacts{
	&__items:not(:last-child){
	margin-right: 50px;
}
	&__link{
		text-decoration: none;
		color: var(--contacts-color);
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.02em;
		padding: 32px 0px;
		display: flex;
		align-items: center;
		transition: color 250ms var(--cubik);
	}
	&__link:hover,
	&__link:focus{
		color: var(--brand-color);
	}
	&__link:active{
		color:var(--brand-color);
	}
	&__icon{
		margin-right: 10px;
		fill: currentColor;
	}
}





