.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    visibility: visible; 
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: translate var(--transition), scale var(--transition);

    padding: 40px;
    
    @media screen and (max-width: 1199px) {
        width: calc(100% - 30px);
        max-width: 450px;
    }

    @media screen and (min-width: 1200px) {
        min-width: 528px;
        min-height: 581px;        
    }    
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.98);
}

.btn-hero-close {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    
    color: black;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;

    position: absolute;
    top: 8px;
    right: 8px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        color: var(--brand-color);
    }

    &:focus {
        color: var(--brand-color);
    }
}

.close-icon {
    fill: currentColor;
}


.modal-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

    margin-bottom: 12px;

    @media screen and (min-width: 1200px) {
        line-height: calc(23 / 20);
    }
}

.input-label {
    display: block;
    margin-bottom: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
}

.input-wrapper {
    position: relative;
    margin-bottom: 10px;
}

.input-form {
    width: 100%;
    height: 40px;
    padding-left: 42px;

    color: black;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
    &:focus {
        border-color: var(--brand-color);
    }
}

.form-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);

    transition: fill var(--brand-color);

    .input-form:focus + & {
        fill: var(--brand-color);
    }
}

.comment-form {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    margin-bottom: 20px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    resize: none;

    background-color: transparent;
    outline: transparent;
    transition: border-color var(--brand-color);

    &:focus {
        border-color: var(--brand-color);
    }

    &::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(16 /14);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);

        @media screen and (min-width: 1200px) {
            font-size: 12px;
            line-height: 1.17;
        }
    }
}

.checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    position: relative;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.03em;
    color: #757575;

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: calc(24 / 14);
    }
}

.checkbox-icon {
    width: 16px;
    height: 15px;
    margin-right: 7px;

    border: 2px solid #212121;
    border-radius: 2px;

    display: flex;
    justify-content: center;
    align-items: center;

    fill: transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .checkbox-form:checked + & {
        background-color: var(--brand-color);
        border: none;
        box-shadow: none;
        fill: #FFFFFF;
    }

    .checkbox-form:focus + & {
    border-color: var(--brand-color);
    }
}

.checkbox-form {
    left: 16px;
    bottom: 0px;

    @media screen and (min-width: 1200px) {
        left: 28px;
        bottom: 3px;
    }
}

.checkbox-link {
    display: block;
    margin-left: 7px;
    text-decoration: underline;

    color: var(--brand-color);
}

.modal .btn-send {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 10px 52px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
	border: none;

    background-color: #2196F3;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}