.feature__group {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}

.feature__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    }

.feature__item {
    width: 100%;   
        
    @media screen and (min-width: 768px) {
        width: calc((100% - 30px) / 2);
    }
    
    @media screen and (min-width: 1200px) {
        width: calc((100% - 90px) / 4);
    }
}

.feature__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-color-titleli);
    margin-bottom: 10px;

    @media screen and (max-width: 767px) {
        text-align: center;
        }
}

.feature__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color-paragraphli);
}